@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-dark text-white font-mono
    }

    a:hover {
        cursor: pointer;
        transform: scale(1.1);
        @apply md:transition-all duration-500
    }
}

.main-content::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.main-content {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

@media all and (min-width: 1024px) {
    .project-container:hover .project-card{
        opacity: .5;
        /* filter: blur(10px); */
    }
    
    .project-container .project-card:hover{
        opacity: 1;
        /* filter: blur(0px); */
        transform: scale(1.1);
    }
}